.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clearfix {
    clear: both;
}
.logo a {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    font-family: "Bringin";
}
.moun {
    color: #36aeea;
}
.tains {
    color: #95a5ad;
}
header {
    overflow: hidden;
    background-color: rgba(255, 255, 255, .3);
    position: fixed;
    z-index: 500;
    width: 100%;
}
.nav-header li {
    float: left;
    text-indent: 30px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #9daeb6;
    text-transform: uppercase;
}
.nav-header li a {
    text-decoration: none;
    color: #95a5ad; 
    padding-bottom: 10px;
}
.nav-header li a:hover {
    border-bottom: 2px #36aeea solid;
}
.header-button {
    float: right;
    padding: 15px 40px 15px 40px;
    margin-top: 20px;
    border: 3px #36aeea solid;
    color: #36aeea;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
.header-button:hover {
    color: #fff;
    background-color: #36aeea;
}
.sec1 {
    background-image: url(/img/background/mountings.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}
.spanb {
    display: block;
    font-family: "Bringin";
    color: #56c7ff;
    font-size: 60px;
}
.sec1-block {
    overflow: hidden;
    border: 3px solid #fff;
    width: 100%;
    margin-top: 220px;
    margin-bottom: 150px;
}
.text-sec1 {
    float: left;
    width:calc(50% - 40px); 
    margin-left: 40px;
}
.text-sec1 h1 {
    margin-top: 40px;
    line-height: 22px;
}
.span-travel {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 52px;
}
.sec1-button {
    float: left;
    padding: 25px 75px 25px 75px;
    background-color: #36aeea;
    border: 3px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.sec1-button:hover {
    background-color: transparent;
    border: 3px #36aeea solid;
    color: #36aeea;
}
.text-sec1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 27px;
    line-height: 27px;
    color: #c1cbd2;
}
.man {
    position: absolute;
    margin-top: -100px;
    margin-left: 500px;
}