.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clearfix {
    clear: both;
}
.logo a {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    font-family: "Bringin";
}
.moun {
    color: #36aeea;
}
.tains {
    color: #95a5ad;
}
header {
    overflow: hidden;
    background-color: rgba(255, 255, 255, .3);
    position: fixed;
    z-index: 500;
    width: 100%;
}
.nav-header li {
    float: left;
    text-indent: 30px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #9daeb6;
    text-transform: uppercase;
}
.nav-header li a {
    text-decoration: none;
    color: #95a5ad; 
    padding-bottom: 10px;
}
.nav-header li a:hover {
    border-bottom: 2px #36aeea solid;
}
.header-button {
    float: right;
    padding: 15px 40px 15px 40px;
    margin-top: 20px;
    border: 3px #36aeea solid;
    color: #36aeea;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
.header-button:hover {
    color: #fff;
    background-color: #36aeea;
}
.sec1 {
    background-image: url(../img/background/mountings.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 1px;
}
.spanb {
    display: block;
    font-family: "Bringin";
    color: #56c7ff;
    font-size: 60px;
}
.sec1-block {
    overflow: hidden;
    margin-top: 220px;
    margin-bottom: 150px;
    border: 3px solid #fff;
}
.text-sec1 {
    float: left;
    width:calc(50% - 40px); 
    margin-left: 40px;
}
.man {
    float: right;
    width: 50%;
    position: relative;
}
.man-img {
    position: absolute;
    background-image: url(../img/background/man.png);
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
}
.text-sec1 h1 {
    margin-top: 40px;
    line-height: 22px;
}
.span-travel {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 52px;
}
.sec1-button {
    float: left;
    padding: 25px 75px 25px 75px;
    background-color: #36aeea;
    border: 3px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.sec1-button:hover {
    background-color: transparent;
    border: 3px #36aeea solid;
    color: #36aeea;
}
.text-sec1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 27px;
    line-height: 27px;
    color: #c1cbd2;
}
.sec2 {
    background-image: url(../img/background/backgroundAbout.png);
    overflow: hidden;
}
.about {
    float: left;
    width: 30%;
}
.about2 {
    float: right;
    width: 70%;
}
.about h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 255px;
    margin-bottom: 25px;
}
.about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
}
.about button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    float: left;
    padding: 12px 25px;
    letter-spacing: 1px;
    background-color: #36aeea;
    color: #fff;
    border: 3px solid #36aeea;
    border-radius: 4px;
}
.about button:hover {
    background-color: transparent;
    color: #36aeea;
}
.about-img {
    position: relative;
    float: right;
}
.about-img img {
    position: absolute; 
    top: 0px;
    right: 0px;
}
.about-img-2 {
    position: relative;
    float: left;
}
.about-img-2 img {
    position: absolute;
    top: 0px;
    left: 0px;
}
.our {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 75px;
}
.our-journal_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 85px;
}
.our-journal_item {
    flex-basis: 33.3%;
    min-height: 380px;
}
.journal_item--bg1 {
    background: url(../img/background/Layer1.png);
}
.journal_item--bg2 {
    background: url(../img/background/Layer2.png);
}
.journal_item--bg3 {
    background: url(../img/background/Layer3.png);
}
.journal_item_bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.journal_item--content1 {
    position: relative;
}
.journal_item--content1:before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 50px;
    left: -10px;
}
.journal_item--content2 {
    position: relative;
}
.journal_item--content2:before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 50px;
    right: -10px;
}
.journal_item--content3 {
    position: relative;
}
.journal_item--content3:before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 50px;
    top: -10px;
}
.love-our {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #16b5ef;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
}
.content-journal {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #202020;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 2px;
    line-height: 23px;
    text-transform: uppercase;
}
.content-journal span {
    display: block;
}
.Journal-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #888888;
    text-align: center;
    line-height: 23px;
}
.Journal-text span {
    display: block;
}
.Journal-text_height {
    margin-top:  23px;
}
.Journal-text_height2 {
    margin-top: 47px;
}
.tree-water {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #0083b3;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
}
.number-journal {
    font-family: "Times New Roman";
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}

.workh2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.we-work_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.boll {
    margin-top: 75px;
    display: flex;
    border: 3px solid #36aeea;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 16px;
    color: #3bb0eb;
}
.work-div {
    width: 25%;
    display: flex;
    justify-content: center;
}
.work-re {
    position: relative;
}
.work-re:before {
    content: " ";
    background-image: url(../img/icon-img/Shape.png);
    background-repeat: repeat-x;
    width: 84%;
    position: absolute;
    padding-bottom: 1%;
    bottom: 20px;
    right: 170px;
}
.work-re2 {
    position: relative;
}
.work-re2:after {
    content: " ";
    position: absolute;
    background-image: url(../img/icon-img/Shape2.png);
    background-repeat: repeat-y;
    width: 1%;
    padding-bottom: 20%;
    bottom: -58px;
}
.work-div img {
    margin-top: 58px;
    margin-bottom: 29px;
}
.work-div_text {
    width: 25%;
    text-align: center;
}
.work-div_text h3 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    color: #2c2e37;
    line-height: 25px;
}
.work-div_text p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: #949494;
    line-height: 23px;
}
.work-div_text p span {
    display: block;
}
.travel-h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.owl-carousel_backG {
    padding-bottom: 475px;
}
.travel-us {
    background-image: url(../img/background/Travelbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gallery-h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 75px;
}
.grid-gallery_block {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1.5fr 2fr;
    grid-template-rows: 280px 60px 280px;
    margin-bottom: 80px;
}
.grid-gallery_block > div:nth-child(1) {
    grid-row: 1 / 3;
    background-image: url(../img/background/gallery1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid-gallery_block > div:nth-child(2) {
    grid-row: 1 / 2;
    background-image: url(../img/background/gallery2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid-gallery_block > div:nth-child(3) {
    grid-row: 1 / 3;
    background-image: url(../img/background/gallery3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid-gallery_block > div:nth-child(4) {
    grid-row: 3 / 4;
    background-image: url(../img/background/gallery4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid-gallery_block > div:nth-child(5) {
    grid-row: 2 / 4;
    background-image: url(../img/background/gallery5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid-gallery_block > div:nth-child(6) {
    grid-row: 3 / 4;
    background-image: url(../img/background/gallery6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.firma {
    background: #f8f9fa;
}
.ourClientssay_h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 110px;
    margin-bottom: 115px;
}
.clients-owl p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #c0c0c0;
    line-height: 30px;
}
.clients-owl img {
    max-width: 65px;
}
.ourClientssay_bg {
    background: url(../img/background/contacts2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contacts_bg {
    width: 50%;
    margin: 0 auto;
    background: url(../img/background/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 140px;
    border-radius: 15px;
}
.contacts_bg h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
    color: #36aeea;
    padding-top: 42px;
    margin-bottom: 16px;
}
.contacts_bg p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #383e4a;
    margin-bottom: 40px;
}
.form_contacts {
   display: grid;
   width: 80%;
   margin: 0 auto;
   grid-gap: 2vh;
}
.form_contacts button {
    background-color: #36aeea;
    margin-bottom: 50px;
    color: #fff;
}
.form_contacts > input {
    height: 60px;
    border: none;
    border-radius: 5px;
}
.form_contacts > input:focus {
    outline: none;
}
.form_contacts > button {
    height: 70px;
    border: none;
    border-radius: 5px;
}
.footer-nav {
    margin-top: 175px;
    padding-bottom: 50px;
    margin-top: 150px;
}
.pfooter {
    float: left;
    color: #78a8b8;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.pfooter2 {
    font-family: 'Roboto';
    font-weight: 900;
    float: right;
    font-size: 27px;
    color: #7cc0d4;
}
@media (max-width: 998px) {
    .our-journal_item {
        flex-basis: 50%;
    }
    .journal_item--bg2 {
        order: 4;
    }
    .journal_item--content2 {
        order: 3;
    }
    .journal_item--bg3 {
        order: 5;
    }
    .journal_item--content3 {
        order: 6;
    }
}

@media (max-width: 768px) {
    .our-journal_wrapper span {
        display: inline;
    }
    .work-div {
        flex-basis: 50%;
    }
    .work-div_text {
        display: flex;
        flex-basis: 100%;
    }
}